/*! Silvernium - Vencord Addon local */
/*! Silvernium - local Vencord Addon base */
.vc-btn-primary{background:var(--hsl-main-color);border-color:rgba(0,0,0,0);border-radius:4px}
.vc-btn-primary:hover{background:var(--hsl-hover-color);border-color:rgba(0,0,0,0)}
.vc-switch-container{background:hsl(from var(--interactive-text-default) h s l/0.2)!important}
.vc-switch-container.vc-switch-checked{background:var(--hsl-main-color)!important}
.vc-switch-container.vc-switch-checked path{fill:var(--hsl-main-color)}
.vc-card-base{background:var(--hsl-card-shading);border:1px solid rgba(0,0,0,0)}
.vc-plugin-ui-elements-button:hover{background:var(--hsl-card-shading);border:1px solid var(--hsl-main-color)}
.vc-settings-quickActions-pill{background:var(--hsl-card-shading);border:1px solid rgba(0,0,0,0)}
.vc-settings-quickActions-pill:hover{background:var(--hsl-card-shading);box-shadow:none;border-color:var(--hsl-main-color);transform:none}
.vc-addon-card{background:var(--hsl-card-shading);border:none}
.vc-addon-card:hover{background:var(--hsl-card-shading);transform:none;box-shadow:none}
.vc-notification-root{background:var(--hsl-popout-shading)}
